.Emails { 
  background-color: #8facc0;
  text-align:center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.header {
  padding-bottom: 0px;
  background-color: #818d97;
  border-bottom: 1px solid #000;
  padding-bottom: 2px;
  height: 30px;
}

.listHeader {
  padding-bottom: 0px;
  background-color: #818d97;
  text-shadow: #484d51 2px;
  border-bottom: 1px solid #484d51;
  padding-bottom: 2px;
}

.Email {
  height: 100px;
  width: 270px;
  border: 2px solid #666666;
  background-color: #EFEFEF;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 3px #000;
  -ms-box-shadow: inset 0 0 3px #000;
  box-shadow: inset 0 0 1px #000;
  text-align: left;
  color: #757575;
  cursor: move;
}

.Email .header {
  color: #FFF;
  text-shadow: #000 0 1px;
  background: #818d97;
  border-bottom: 1px solid #000;
  font-size: 18px;
  overflow:auto;
}

.Email #from { 
  overflow:auto;
  float: left;
} 

.Email #date { 
  overflow:auto;
  float: right;
} 

.EmailListContainer { 
  padding-top: 15px;
  margin:0;
}

#EmailList { 
  list-style-type: none;
  display: inline-block;
}

.Email #snippet {
  padding-top: 5px;
  text-align:left;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
